.home {
    width: 90%;
    display: flex;
    margin: 0 auto;
    
}
.leftside{
width: 20%;
background-color: rgb(221, 224, 224);
}
.centralpart{
width: 60%;
background-color: bisque;
}
.rigthside{
width: 20%;
background-color: rgb(221, 224, 224);
}